body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
    margin: 0;
    padding: 0;
    background-color:#b6efb8;
    color: #307848;
    
}


header {
    background: #b6efb8;
    color: #307848;
    text-align: center;
    padding: 20px;
}

/*nav bar*/

nav{
    background: #b6efb8;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    color:#307848;
    margin: 0;
    background: #b6efb8;
    
}

nav ul li{
    display: inline;
    margin: 10 px;
}


nav ul li a{
    color: #307848;
    text-decoration: none;
    font-size: 15px;
    padding:8px 12px;
    transition: 0.3s;
}

nav ul li a:hover{
    background: #95e2ac;
    border-radius: 12px;
}

section{
    padding:20px;
    text-align: center;

}

footer{
    text-align: center;
    background: #4f9b68;
    color: #e7e6e6;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}